body {
  font-family: Arial;
  text-align: center;
  padding: 40px;
  background-color: #f0f8ff;
}

button {
  font-size: 18px;
  padding: 12px;
  margin: 10px;
  cursor: pointer;
}

#challengeBox {
  margin-top: 25px;
  font-size: 20px;
  min-height: 60px;
}

textarea {
  font-size: 16px;
  padding: 5px;
}
